
.soulinda {
    border: solid 4px rgb(75, 75, 99);
    padding: 30px;
    height: 30px;
    width: 30px;
    margin-left: 100px;
}

.soumaravilhosa {
    border: solid 4px rgb(76, 107, 81);
    padding: 50px;
    height: 50px;
    width: 50px;
    margin-left: 300px;

}

.souinteligente {
    border: solid 4px rgb(131, 82, 79);
    padding: 40px;
    height: 40px;
    width: 40px;
    margin-right: 25px;
}

.meamo {
    border: solid 4px rgb(148, 46, 126);
    padding: 60px;
    height: 60px;
    width: 60px;
    margin-left: 600px;
}

